<div class="col-xs-9.6 contzent-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
            <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>COVID Cases and Vaccinations</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                      <iframe width="100%" height="734" frameborder="0"
  src="https://observablehq.com/embed/@jmarinllao/stacked-barchart-of-covid-19-cases-vaccinations?cells=svg%2Cviewof+date"></iframe>
                      
                  </div>
            </div>
            <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>Correlation COVID Indicators and Social Activity</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                      <iframe width="100%" height="850" frameborder="0"
  src="/Bokeh.html"></iframe>
                  </div>
            </div>
            <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>City cases by borough</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                          <img src="/img/Plots/MapVaccines1.png" alt="COVID">
                  </div>
            </div>
            
          {{ range .Data.Pages }}
              <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a title="" class="box-masonry-image">
                        {{ else }}
                        <a  title="" class="box-masonry-image ">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
