<div class="col-xs-9.6 contzent-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
            <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>COVID Cases and Vaccinations</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                      <iframe width="100%" height="734" frameborder="0"
  src="https://observablehq.com/embed/@jmarinllao/stacked-barchart-of-covid-19-cases-vaccinations?cells=svg%2Cviewof+date"></iframe>
                      
                  </div>
            </div>
            <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>Correlation COVID Indicators and Social Activity</a></h4>
                          <iframe width="100%" height="850" frameborder="0"
  src="/Bokeh.html"></iframe>
                          <div class="box-masonry-description">
                            <p>
                                This plot reports the main socio-economical indicators. We relate them with vaccinations, covid19 cases and Lockdown measures.
Everything is scaled according to covid-19 cases.
They activities are measured as increase or decrease in percentage of volume of affairs.

1) The boxed areas are the periods when Great britain faced the <b>strongest<b>  period of restrictions. [Timeline of UK lockdowns] (https://www.instituteforgovernment.org.uk/sites/default/files/timeline-lockdown-web.pdf) \
Anyway minor restrictions went on for periods out of the lockdowns, clearly shown by many trends. \
    It's interesting to point out the **effectiveness of lockdowns**. Giving a first look of data seem that the first 2 lockdowns didn't helped that much, but seeing the trend of the second (great increase rate) stopping the increasing curve at the beginning it's fundamental. Moreover, we know that "an effective reduction in transmission must have occurred nearly immediately after the tighter lockdown, given the lag time of around 10 days from asymptomatic infection to diagnosis." Taking that into account we can clearly see that after a small time lag infections started to decrease(https://www.thelancet.com/journals/eclinm/article/PIIS2589-5370(20)30201-7/fulltext)

2) Taking a look into activities behavior we can clearly see that, for instance, social econimcal activities had very few volume of affair during lockdowns, due to strict regulamentations of customers number and take-away only. This category is clearly the one that covid had the worse impact to, reducing retail volume dramaticaly for the whole restriction periods.
    
3) Contrarywise, we can see that grocieries and pharmacies after an initial drop in sales volume remained active with a slightly increasing rate. It's important to notice a huge drop in thei sales in late december, obviously related to Christmas days.
    
4) **We can clearly see that during weekends we have a decreasing of cases** this is due to the fact that "testing is not functioning seven days a week, unlike Covid-19". [Covid-19 cases and the weekend effect](https://www.spectator.co.uk/article/covid-19-cases-and-the-weekend-effect)

5) Another interesting fact is that London (and the whole Great Britain actually) faced much more cases in the lastCovid-19 wave. It's difficult to say why, "experts say \[...\] the crisis is a result of both the struggle to deal with a new variant estimated to be up to 70% more transmissible, and because of a failure in decisive and strong government leadership. " We can infact clearly see that cases dropped after the last hard restrictions took place. (https://time.com/5929246/uk-coronavirus-third-wave/)

1) During the first lockdown the public transportation usage dropped dramatically. This is strictly related to the first lockdown where all public activities were closed and the switch to smart working. This is due to the fact that public transportations ar emostly used from people going to work or students.

4) Overall, plotting al the data togheter, we can see that with different volumes all the movements charts behaved similarly, this clearly highlights the fact that lockdowns had effect. This, added to the previous graphs clearly determine the effectiveness of the lockdown for stopping the spreading of the viruses, at the cost of a big decrease in consumption.

5) Least, but not last It's interesting to highlight that decreasing in retail/moving are not directly following covid cases but more follow the restrictions. This again shows how much restrictions are important since people without law enforcement do not realize the importance of not spreding the virus.
                            </p>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>City cases by borough</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                          <img src="/img/Plots/MapVaccines1.png" alt="COVID">
                  </div>
            </div>
            
          {{ range .Data.Pages }}
              <div class="col-xs-6 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a title="" class="box-masonry-image">
                        {{ else }}
                        <a  title="" class="box-masonry-image ">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
