<pre class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></pre>

<div id="sidebar" class="col-xs-4 sidebar-offcanvas">
  <div class="sidebar-content">
    <img src="/img/interface/LondonCOV.png" alt="Italian Trulli">
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}    
    <pre class="sidebar-heading">
COVID INDICATORS: Cases and Vaccines</a>
</pre>

 <div class="col-xs-14 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a title="" class="box-masonry-image">
                        {{ else }}
                        <a  title="" class="box-masonry-image ">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>MODEL</a></h4>
                          <div class="box-masonry-description">
                           
                          </div>
                      </div>
                      <iframe width="100%" height="734" frameborder="0"
  src="https://observablehq.com/embed/@jmarinllao/stacked-barchart-of-covid-19-cases-vaccinations?cells=svg%2Cviewof+date"></iframe>
                    <div class="box-masonry-description">
                            <p>
                            <p><strong>This plot shows the evolution of cases and vaccines during the whole pandemic.</strong></p>
<p>A timeline is rendered with the diferent relevant events and periods that distinguished the pandemic cicles and the correspondent restrictions, being able to interactively explore them with their description at the bottom to assess the social activity trends and impact. <a href="https://www.instituteforgovernment.org.uk/sites/default/files/timeline-lockdown-web.pd"> [Timeline of UK lockdowns]</a>.</p>
<p>INSIGHTS:</p> # TOREWRITTE/IMPROVE
                            Starting from a similar average activity in all sectors, we can see the peaks prior to lockdown in grocery (where the population was supplied by these -especially toilet paper as reported in the media-) and the beginning of the decrease in the rest of the activities. Weekend peaks are also observed, especially in ‘Social’. 
Then there is the drastic decline in all activities with the imposition of the first lockdown, with the most affected sectors being reservations for restaurants and and ‘social’, and a less drastic change for food and pharmacy products. It is also observed that while during the lockdown the most affected sectors remain stationary with very low activity, as the lockdown progresses if trade in general, both food and recreational, is recovering, remaining with a significantly higher activity. elevated food and basic necessities.
With the lifting of the first lockdown, all sectors are exploring a linear recovery during the summer, but without having recovered the activity of pre-pandemic 'normality', if several points -outliers- are observed, probably due to the holiday periods and back to work. Grocery stores are ahead of the rest of the sector.
Given the restrictions applied with the second September wave, the two most punished sectors 'social' and 'restaurant reservations' return to low levels of lockdown, and trade and recreation also fall, while grocery and pharmacist products do not experience in this case any downfall.

                            </p>
                          </div>
                  </div>
              </div>

<div class="col-xs-14 masonry-item">
                  <div class="box-masonry">
<iframe width="105%" height="510" frameborder="0"
  src="/map.html"></iframe>

  <div class="box-masonry-description">
    <p>
    <p><strong>This map shows the percentage of total cases per capita during the whole pandemic. The brighter the color shade gets, the higher cases the area has had.</strong> </p>
    <p>INSIGHTS:For all areas, the percentage of the total number of cases varies from 5,5% to 11.5%. In section 2, it was mentioned that the absolute number of cases in the city center had been lower than in other areas. The suggested hypothesis to explain this fact was that population density was lower in the city center due to housing prices. However, from this plot, we can see how the percentage of infected people in the central areas is still lower than in the outskirts of the city. The data indicates that in the areas south of London city center, the trend of cases is lower, contrary to the upper areas. In order to say anything qualified of the reasioning, supplementary data would be needed. This could be information on for instance, job types since an office worker potentially can work from home, whereas a production worker must be physically present. Another factor could be ethnical backgrounds and family relations.
    </p>
    </div>

   </div>
</div>
  
<div class="col-xs-14 masonry-item">
                  <div class="box-masonry">
  <iframe width="105%" height="290" frameborder="0"
  src="/img/Plots/boxplot2.png"></iframe>

  <div class="box-masonry-description">
                            <p>
                            <p><strong>The first activity reports plot shows the evolution of retail affluency during the pandemic.</strong></p>
<p>A timeline is rendered with the diferent relevant events and periods that distinguished the pandemic cicles and the correspondent restrictions, being able to interactively explore them with their description at the bottom to assess the social activity trends and impact. <a href="https://www.instituteforgovernment.org.uk/sites/default/files/timeline-lockdown-web.pd"> [Timeline of UK lockdowns]</a>.</p>
<p>INSIGHTS:</p> # TOREWRITTE/IMPROVE
                            Starting from a similar average activity in all sectors, we can see the peaks prior to lockdown in grocery (where the population was supplied by these -especially toilet paper as reported in the media-) and the beginning of the decrease in the rest of the activities. Weekend peaks are also observed, especially in ‘Social’. 
Then there is the drastic decline in all activities with the imposition of the first lockdown, with the most affected sectors being reservations for restaurants and and ‘social’, and a less drastic change for food and pharmacy products. It is also observed that while during the lockdown the most affected sectors remain stationary with very low activity, as the lockdown progresses if trade in general, both food and recreational, is recovering, remaining with a significantly higher activity. elevated food and basic necessities.
With the lifting of the first lockdown, all sectors are exploring a linear recovery during the summer, but without having recovered the activity of pre-pandemic 'normality', if several points -outliers- are observed, probably due to the holiday periods and back to work. Grocery stores are ahead of the rest of the sector.
Given the restrictions applied with the second September wave, the two most punished sectors 'social' and 'restaurant reservations' return to low levels of lockdown, and trade and recreation also fall, while grocery and pharmacist products do not experience in this case any downfall.

                            </p>
                          </div>

  </div>
</div>

<div class="col-xs-14 masonry-item">
                  <div class="box-masonry">
  <iframe width="135%" height="290" frameborder="0"
  src="/img/Plots/boxplot3.png"></iframe>
  
   </div>
</div>

{{ partial "social_buttons_in_sidebar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }} |
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
    </div>
    
</div>