
<div id="sidebar" class="col-xs-4 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <img src="/img/interface/LondonCOV.png" alt="Italian Trulli">
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ absURL .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "social_buttons_in_sidebar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }} |
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
    <!DOCTYPE html>
    <meta charset="utf-8">

    <div id="interactiveGraphic">

	<div id="slides">
		<div id="slide1" style="display: none;">There are 76 million baby boomers, and 72% of them are white. <a href="#">Next →</a></div>
		<div id="slide2" style="display: none;">The millennials are an even larger group with 87 million, but much more diverse — only 56% are white. <a href="#">Next →</a></div>
		<div id="slide3" style="display: block;">See how diverse your generation is by rolling over the chart below.</div>
	</div>
	

	<ul id="key" style="z-index: 0;">
		<li class="keys"><div class="keyLabel">Mixed race</div><div class="keySquare" id="keyTwoplus"></div><div class="clear"></div></li>
		<li class="keys"><div class="keyLabel" id="keyLabel_aina">*American Indian, Native Hawaiian</div><div class="keySquare" id="keyAINA"></div><div class="clear"></div></li>
		<li class="keys"><div class="keyLabel">Asian</div><div class="keySquare" id="keyAsian"></div><div class="clear"></div></li>
		<li class="keys"><div class="keyLabel">Black</div><div class="keySquare" id="keyBlack"></div><div class="clear"></div></li>
		<li class="keys"><div class="keyLabel">Hispanic</div><div class="keySquare" id="keyHispanic"></div><div class="clear"></div></li>
		<li class="keys"><div class="keyLabel">White</div><div class="keySquare" id="keyWhite"></div><div class="clear"></div></li>		
	</ul>

	<div id="tooltip" style="left: 244.36px; display: none;">
		<div id="tooltipContent">
			<div id="titleAge">
				<p class="numberData"><span class="lightgray">There were</span> 3.4 million<br> 64 year <span class="lightgray">olds last year</span></p>
			</div>
			<div id="tooltipWrapper">
				<div class="tooltipBlocks" id="block1">
					<p class="titlePercent" id="percentWhite">75%</p><p class="titleLabel">White</p>
					<p class="titlePercent" id="percentHispanic">8%</p><p class="titleLabel">Hispanic</p>		
					<p class="titlePercent" id="percentBlack">10%</p><p class="titleLabel">Black</p>												
				</div>
				<div class="tooltipBlocks" id="block2">
					<p class="titlePercent" id="percentAsian">4%</p><p class="titleLabel">Asian</p>
					<p class="titlePercent" id="percentAINA">1%</p><p class="titleLabel">AI, NH</p>		
					<p class="titlePercent" id="percentTwoplus">1%</p><p class="titleLabel" id="mixed_race_label">Mixed race</p>												
				</div>		
			</div>
		</div>
	</div>
		
	<div id="interactiveChart">
	<div id="takeaways">
		<h4>Three key takeaways from this chart:</h4>
		<p>1. The most common age in America last year was 22. There were more 22 year olds, than any other age group.</p>
		<p>2. What's the "middle age"? Looking at a true median shows the middle age in America was 37.6 years old. Exactly 50% of Americans <br>were younger, while the other 50% were older.</p>
 		<p>3. Check out the youngest generation. <a href="https://money.cnn.com/2013/05/15/news/economy/minority-majority/" target="_blank">Today's babies mark the first generation where whites make up only 50% of the population.</a><br>The Census Bureau predicts white kids will no longer make up a majority in just a few years.</p> 
	</div>

</div>


